/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.carousel-container {
  position: absolute;
  margin-top: 8vh; /* moves the box down */
  left: 5%;
  height: 80vh;
  width: 80vh;
  background: #9db4c0;
  color: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.preview-container {
  position: absolute;
  margin-top: 8vh;
  right: 5%;
  height: 80vh;
  width: 80vh;
  background: #5c6b73;
  color: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.preview-label {
  position: absolute;
  margin-top: 1vh;
  right: 4%;
  width: 75vh;
  background: #5c6b79;
  color: #ccc;
  text-align: center;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  display: block;
}

.wheel {
  position: absolute;
  left: 300px;
  top: 50%;
  transform-origin: right center;
  transition: transform 0.6s ease;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 350px;
  padding: 8px 12px;
  background: #5c6b73;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.cd {
  position: absolute;
  width: 100px;
  transition: transform 0.6s ease;
}

.arrow1 {
  position: absolute;
  left: 20px;
  top: 14%;
}

.arrow2 {
  position: absolute;
  left: 20px;
  top: 86%;
}
